*.log
.DS_Store
.env
.env.production
.env.dev
.env.cloudflare
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/database/bak
Homestead.json
Homestead.yaml
Thumbs.db

# Graphify local and environment-specific files
/graphify-out/